<!doctype html>
<meta charset=\"utf-8\">
<meta name=\"viewport\" content=\"width=device-width\">

<title>fussel.space</title>

<link rel=\"stylesheet\" href=\"/assets/css/main.css\">
<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic\">

<link rel=\"icon\" href=\"/assets/img/beat.png\">

<aside>
	<header>
		<h1>fussel<span>.space</span></h1>
	</header>

	<nav>
		$(eval "echo \"$(cat "../template/navigation.html")\"")
	</nav>
</aside>

<section>
	<header>
		<h1>space</h1>
	</header>

	<article>
		$(cat "$page")
	</article>
</section>

<script src=\"/assets/js/meta.js\"></script>
<script src=\"/assets/js/main.js\"></script>
