{{ define "main" }}
	<article>
		<h2>{{ .Title }}</h2>

		<hr>

		<aside class="gallery">
			{{ range $i, $_ := .Params.Images }}
				<figure>
					<img src="{{ index $.Params.Images $i }}">
					<figcaption>{{ index $.Params.Captions $i | markdownify }}</figcaption>
				</figure>
			{{ end }}
		</aside>

		<hr>

		{{ .Content }}

		<hr>

		{{ if .Params.Caffeine }}
			<p>
				<strong>Koffein:</strong> {{ .Params.Caffeine }}mg/100ml
				{{ if .Params.Caffeine_Source }}
					(<a href="{{ .Params.Caffeine_Source }}">Source</a>)
				{{ end }}
			</p>
		{{ end }}

		{{ if .Params.Website }}
			{{ $url := urls.Parse .Params.Website }}
			<p>
				<strong>Homepage:</strong>
				<a href="{{ .Params.Website }}">{{ $url.Host }}</a>
			</p>
		{{ end }}

		{{ if .Params.Monkey }}
			<p>
				<a href="https://matemonkey.com/map/dealer/?products={{ .Params.Monkey }}">
					{{ .Title }} auf <strong>MateMonkey</strong>
				</a>
			</p>
		{{ end }}

		<footer>
			{{ partial "lastmod" . }}
		</footer>
	</article>
{{ end }}
