* {
  margin: 0;
  padding: 0;
}
a {
  border-bottom: 1px solid transparent;
  color: #1e9fd9;
  text-decoration: none;
}
a:hover {
  border-color: #1e9fd9;
  color: inherit;
}
figure {
  padding: 0 10px;
  width: 200px;
}
figure[align=left] {
  float: left;
}
figure[align=right] {
  float: right;
}
figure img {
  max-width: 100%;
}
figure figcaption {
  padding: 5px;
}
html,
body {
  min-height: 100%;
}
body {
  color: #2c3e50;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
@media (min-width: 400px) {
  body > aside,
  body > section {
    height: 100%;
  }
}
@media (min-width: 400px) {
  body {
    display: flex;
  }
}
body > aside > header,
body > section > header {
  padding: 10px;
}
body > aside {
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.15);
  border-left: none;
  border-top: none;
  flex-shrink: 0;
  text-align: right;
}
@media (max-width: 399px) {
  body > aside {
    border-right: none;
  }
}
@media (min-width: 400px) {
  body > aside {
    border-bottom: none;
    width: 150px;
  }
  body > aside header > h1 > span {
    display: none;
  }
}
body > section {
  max-width: 850px;
}
@media (mzax-width: 1001px) {
  body > section {
    width: auto;
  }
}
@media (max-width: 399px) {
  body > section header:first-of-type > h1 {
    display: none;
  }
}
body > section header > h1::after {
  background: url("../img/beat.png") no-repeat center center;
  content: '';
  display: inline-block;
  height: 16px;
  width: 32px;
}
body > section > article {
  padding: 10px;
}
body > section > article h2 {
  color: #829ebb;
  font-size: 1.2rem;
  font-weight: lighter;
}
body > section > article > * {
  margin-bottom: 10px;
}
nav li {
  margin: 0;
}
@media (max-width: 399px) {
  nav li {
    display: inline-block;
  }
  nav li.divider {
    display: block;
    padding: 10px;
  }
}
@media (min-width: 400px) {
  nav li {
    margin: 10px 0;
  }
}
nav li.divider {
  color: rgba(0,0,0,0.25);
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}
nav li a {
  border: 3px solid transparent;
  border-left: none;
  border-top: none;
  color: inherit;
  display: block;
  padding: 10px;
}
@media (max-width: 399px) {
  nav li a {
    border-right: none;
    margin-bottom: -2px;
  }
}
@media (min-width: 400px) {
  nav li a {
    border-bottom: none;
    margin-right: -2px;
  }
}
nav li a:hover,
nav li a.active {
  border-color: #1e9fd9;
}
nav li a:hover span,
nav li a.active span {
  border-bottom: 2px solid transparent;
}

