// main: main.styl

nav li
	margin 0

	@media (max-width: mobile-width - 1)
		display inline-block

		&.divider
			display block
			padding padding

	@media (min-width: mobile-width)
		margin padding 0

	&.divider
		color rgba(0, 0, 0, .25)
		margin 0
		padding 0 padding
		font-size .85rem
		font-weight bold
		text-transform uppercase

	a
		color inherit
		display block
		padding padding
		border 3px solid transparent
		border-top none
		border-left none

		@media (max-width: mobile-width - 1)
			margin-bottom -2px
			border-right none

		@media (min-width: mobile-width)
			margin-right -2px
			border-bottom none

	a:hover
	a.active
		border-color accent

	a:hover span
	a.active span
		border-bottom 2px solid transparent
