// main: main.styl

*
	margin 0
	padding 0

a
	color accent
	text-decoration none
	border-bottom 1px solid transparent

a:hover
	color inherit
	border-color accent

html
body
	height 100%

body > aside
body > section
	@media (min-width: mobile-width)
		height 100%

body
	color color
	font-family Source Sans Pro, Helvetica Neue, Arial, sans-serif

	@media (min-width: mobile-width)
		display flex

body > aside > header
body > section > header
	padding padding

body > aside
	text-align right
	background #f2f2f2
	border 1px solid rgba(0, 0, 0, .15)
	border-top none
	border-left none

	@media (max-width: mobile-width - 1)
		border-right none

	@media (min-width: mobile-width)
		width 200px
		border-bottom none

		header > h1 > span
			display none

body > section
	flex-grow 1

body > section > article
	padding padding

body > section > article h2
	color lighten(color, 50%)
	font-size 1.2rem
	font-weight lighter

body > section > article > *
	margin-bottom padding
