nav li {
  margin: 0;
}
nav li a {
  color: inherit;
  padding: 10px;
  display: block;
  margin-right: -2px;
  border-right: 3px solid transparent;
}
nav li a:hover,
nav li a.active {
  border-bottom: none;
  border-right-color: #1e9fd9;
}
nav li a:hover span,
nav li a.active span {
  border-bottom: 2px solid transparent;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #1e9fd9;
  text-decoration: none;
}
a:hover {
  color: inherit;
  border-bottom: 1px solid #1e9fd9;
}
html,
body,
body > aside,
body > section {
  height: 100%;
}
body {
  color: #2c3e50;
  display: flex;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
body > aside > header,
body > section > header {
  padding: 10px;
}
body > aside {
  width: 200px;
  text-align: right;
  background: #f2f2f2;
  border-right: 1px solid rgba(0,0,0,0.15);
}
body > section {
  flex-grow: 1;
}
body > section > article {
  padding: 10px;
}
body > section > article h2 {
  color: #829ebb;
  font-size: 1.2rem;
  font-weight: lighter;
}
body > section > article > * {
  margin-bottom: 10px;
}
