// main: main.styl

/*
@media (max-width: mobile-width)
	body
		display block

	body > aside
	body > section
		height auto

	body > aside
		width auto
		border-right none
		border-bottom 1px solid rgba(0, 0, 0, .15)

	body > section > header
		display none
*/
