// main: main.styl

nav li
	margin 0

nav li a
	color inherit
	padding padding
	display block
	margin-right -2px
	border-right 3px solid transparent
	transition border-color .05s

nav li a:hover
nav li a.active
	border-bottom none
	border-right-color accent

nav li a:hover span
nav li a.active span
	border-bottom 2px solid transparent
