<ul>
	{{ $current := . }}
	{{ range $name, $menu := .Site.Menus }}
		<li class="divider"><span>{{ $name }}</span></li>
		{{ range $menu }}
			<li{{ if $current.IsMenuCurrent "meta" . }} class="active"{{end}}>
				<a href="{{ .URL }}">
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}

	{{ range .Site.Sections }}
		<li class="divider"><span>{{ .Name }}</span></li>
		{{ range sort .Pages "Permalink" }}
			<li{{ if eq .Permalink $.Permalink }} class="active"{{ end }}>
				<a href="{{ .Permalink }}">
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}
</ul>
