<ul>
	{{ $current := . }}
	{{ range $name, $menu := .Site.Menus }}
		{{/* <li class="divider"><span>{{ $name }}</span></li> */}}
		{{ range $menu }}
			<li>
				<a href="{{ .URL }}"{{ if $current.IsMenuCurrent "meta" . }} class="active"{{end}}>
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}

	{{ range .Site.Sections }}
		<li class="divider"><span>{{ .Name }}</span></li>
		{{ range sort .Pages "URL" }}
			<li>
				<a href="{{ .URL }}"{{ if eq .Permalink $.Permalink }} class="active"{{ end }}>
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}
</ul>
