*
	margin: 0
	padding: 0

a
	border-bottom: 1px solid transparent
	color: $fresh
	text-decoration: none
	background: linear-gradient(45deg, $fresh, $hope)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

a:hover
	color: inherit
	border-image: linear-gradient(to right, $fresh, $hope)
	border-image-slice: 1
	-webkit-text-fill-color: inherit

::selection
	background: rgba(0, 0, 0, .1)

body > aside ::selection
	background: rgba(255, 255, 255, .15)

img
	max-width: 100%

figure
	padding: 0 $padding
	width: 100%
	max-width: 200px

	&[align=left]
		float: left

	&[align=right]
		float: right

	figcaption
		padding: ($padding / 2)

abbr
	border-bottom: 1px dotted $reboot

hr
	border: none
	padding: .5em

html
body
	min-height: 100%

body
	color: $reboot
	font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif

	& > aside
	& > section
		@media (min-width: $mobile-width)
			height: 100%

	@media (min-width: $mobile-width)
		display: flex

	& > aside > header
	& > section > header
		padding: $padding

	& > aside
		// color: invert($reboot)
		background: #000
		border: 1px solid $hope
		border-left: none
		border-top: none
		flex-shrink: 0
		text-align: right
		padding-top: 150px
		background-size: auto 150px
		background-image: url(../img/calebasse.svg)
		background-repeat: no-repeat
		background-position: top right

		@media (max-width: $mobile-width - 1)
			border-right: none

		@media (min-width: $mobile-width)
			border-bottom: none
			width: $nav-width

			header > h1 > span
				display: none

	& > section
		flex-grow: 1
		max-width: $width - $nav-width

		@media (max-width: $width + 1)
			width: auto

		@media (max-width: $mobile-width - 1)
			header:first-of-type > h1
				display: none

		header > h1::after
			background: url(../img/beat.png) no-repeat center center
			content: ''
			display: inline-block
			height: 16px
			width: 32px

		& > article
			padding: $padding

			h2
				font-size: 1.2rem
				font-weight: lighter

			h2,
			footer
				color: lighten($reboot, 50%)

			& > *
				margin-bottom: $padding
