$padding = 10px
$width = 1000px
$nav-width = 150px
$mobile-width = 425px

$fresh = rgb(0, 132, 176)
$hope = rgb(0, 163, 86)
$reboot = rgb(77, 77, 76)

@import 'grid.styl'
@import 'layout.styl'
@import 'nav.styl'
