nav li
	margin: 0

	@media (max-width: $mobile-width - 1)
		display: inline-block

		&.divider
			display: block
			padding: $padding

	@media (min-width: $mobile-width)
		// margin: $padding 0

	&.divider
		color: lighten($reboot, 50%)
		font-size: .85rem
		font-weight: bold
		margin: $padding 0
		padding: 0 $padding
		text-transform: uppercase

		&:first-of-type
			margin-top: 15px

	a
		border: 3px solid transparent
		border-left: none
		border-top: none
		color: red
		display: block
		padding: $padding
		-webkit-text-fill-color: #f2f2f2

		&.new:before
			color: $fresh
			content: '●'
			padding-right: 5px;

		@media (max-width: $mobile-width - 1)
			border-right: none
			margin-bottom: -2px

		@media (min-width: $mobile-width)
			border-bottom: none
			margin-right: -2px

	a:hover
	a.active
		border-color: $hope
		-webkit-text-fill-color: transparent

	a:hover span
	a.active span
		border-bottom: 2px solid transparent
